<html>{% block html %}
<head>{% block head %}

    {% block site-title %}
    <title>Star Wars Micro Machines</title>
    {% endblock %}

    {% block css-base %}
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="{{ MEDIA_URL }}css/style.css" />
    {% endblock %}

    {% block css-base-ext %}
    {% endblock %}

{% endblock %}</head>
<body>{% block body %}

    <!-- ----------------------------------------------------------------------
    + Google Analytics:
    ----------------------------------------------------------------------- -->

    {% block google-analytics %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6838945-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); 
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol 
            ? 'https://ssl'
            : 'http://www'
        ) + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endblock %}

    <!-- ----------------------------------------------------------------------
    + Header:
    ----------------------------------------------------------------------- -->

    {% block header %}<div id="header">
        <table id="header-tbl">
            <tbody>
                <tr>
                    <td id="header-tbl-lhs" align="center">
                        {% block header-title-lhs %}<div id="title-lhs">
                            <img alt="{{ properties.lhs_image_desc }}"
                                 src="{{ properties.lhs_image_href }}"/>
                        </div>{% endblock %}
                    </td>
                    <td id="header-tbl-mid">
                        {% block header-title %}<div id="title">
                        <h1><a href="#">{{ properties.title|safe }}</a></h1>
                        <p>{{ properties.sub_title|safe }}</p>
                        </div>{% endblock %}
                    </td>
                    <td id="header-tbl-rhs" align="center">
                        {% block header-title-rhs %}<div id="title-rhs">
                            <img alt="{{ properties.rhs_image_desc }}"
                                 src="{{ properties.rhs_image_href }}"/>
                        </div>{% endblock %}
                    </td>
                </tr>
            </tbody>
        </table>	
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Top Bar:
    ----------------------------------------------------------------------- -->

    {% block super-top-bar %}
    {% endblock %}

    {% block top-bar %}<div id="top-bar">
        <table id="top-bar-tbl">
            <tbody>
                <tr>
                    {% block top-bar-lhs %}<td id="top-bar-tbl-lhs">
                        {% block menu %}<div id="menu">
                        <table id="menu-tbl">
                            <tbody>
                                <tr align="center">
                                    {% block menu-home %}<td class="menu-tbl-item">
                                        <a href="{% url exhib:default %}">Home</a>
                                    </td>{% endblock %}
                                    {% block menu-about %}<td class="menu-tbl-item">
                                        <a href="{% url about:default %}">About</a>
                                    </td>{% endblock %}
                                    {% block menu-forum %}<td class="menu-tbl-item">
                                        <a href="{% url forum:default %}">Forum</a>
                                    </td>{% endblock %}
                                    {% block menu-contact %}<td class="menu-tbl-item">
                                        <a href="{% url contact:default %}">Contact</a>
                                    </td>{% endblock %}
                                    
                                    {% block menu-ext %}
                                    {% endblock %}
                                </tr>
                            </tbody>
                        </table>
                    </div>{% endblock %}
                    </td>{% endblock %}

                    {% block top-bar-rhs %}<td id="top-bar-tbl-rhs">
                        <form name="cse" id="searchbox" action="http://www.google.com/cse">
                            <input type="hidden" name="cref" value="http://swmm-cms.net/home" />
                            <input type="hidden" name="ie" value="utf-8" />
                            <input type="hidden" name="hl" value="" />
                            <input name="q" type="text" id="s"/>
                            <input type="submit" name="sa" id="searchbox-submit" value="Search"/>
                        </form>
                        <script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox&lang=en"></script>
                    </td>{% endblock %}
                </tr>
            </tbody>
        </table>
    </div>{% endblock %}

    {% block sub-top-bar %}
    {% endblock %}

    <!-- ----------------------------------------------------------------------
    + Content:
    ----------------------------------------------------------------------- -->

    {% block content %}<div id="content">
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Bottom Bar:
    ----------------------------------------------------------------------- -->

    {% block super-bottom-bar %}
    {% endblock %}

    {% block bottom-bar %}<div id="bottom-bar">
    </div>{% endblock %}

    {% block sub-bottom-bar %}
    {% endblock %}

    <!-- ----------------------------------------------------------------------
    + Footer:
    ----------------------------------------------------------------------- -->

    {% block footer %}<div id="footer">
        <p>&copy; 2011 &ndash; All Rights Reserved.</p>

        <a href="http://www.djangoproject.com/">
            <img src="{{ MEDIA_URL }}img/django-site.gif"
                 border="0" alt="A Django Site" title="A Django Site"
                 style="margin-top: 1px;"/>
        </a>        
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Image Cache:
    ----------------------------------------------------------------------- -->

    {% block image-cache %}<div id="image-cache">
    </div>{% endblock %}

{% endblock %}</body>

<!-- --------------------------------------------------------------------------
+ Java Script:
--------------------------------------------------------------------------- -->

{% block java-script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/util.min.js"></script>
{% endblock %}

{% block javascript-ext %}
{% endblock %}

{% block jquery-csrf %}
<script type="text/javascript">
$('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        
        var cookieValue = null;        
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(
                        cookie.substring(name.length + 1)
                    );
                    break;
                }
            }
        }

        return cookieValue;
    }

    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}

{% endblock %}</html>
