{% extends "base.html" %}

{% block javascript-ext %}
<!-- --------------------------------------------------------------------------
 Gallery: Icon Layout
--------------------------------------------------------------------------- -->

<script type="text/javascript">
fnGalleryIconLayoutOnClick = function () {
    var fnClr = function (el) {
        el.css ('border-top', '0px solid white');
        el.css ('border-bottom', '0px solid white');
    }

    var fnSet = function (el) {
        el.css ('border-top', '1px solid white');
        el.css ('border-bottom', '1px solid white');
    }

    $('#icon-layout').click(function (event) {
        var galleryArea = $('div.gallery .area');
        if (galleryArea.css ('overflow') != 'hidden') {
            galleryArea.css ('overflow', 'hidden')
            fnSet ($('div.gallery .wrapper'));
            fnClr ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','inline')
            $('div.gallery .arrow').css ('display','inline')
        } else {
            galleryArea.css ('overflow', 'visible')
            fnClr ($('div.gallery .wrapper'));
            fnSet ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','none')
            $('div.gallery .arrow').css ('display','none')
            $('div.gallery .imgs').css ('left','0px')
        }
    });
};

$(document).ready (fnGalleryIconLayoutOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Area
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryAreaOnInit = function() {
    $('div.gallery .area .imgs').each (function (idx, gai) {
        var img = $(gai).find ('.img')
        if (img.size () > 0) {
            $(gai).css ('width', img[0].offsetWidth * img.size ());
        } else {
            ;
        }
    });
}

$(document).ready(fnGalleryAreaOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Wrapper
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryWrapperOnInit = function() {
    var galleryWidth = parseInt($('div.gallery').css('width'));
    var portraitWidth = parseInt($('div.gallery .portrait').css('width'));
    var labelWidth = parseInt($('div.gallery .label').css('width'));
    var vspacerWidth = parseInt($('div.gallery-v-spacer').css('width'));

    $('div.gallery .wrapper').css (
        'width', galleryWidth - (
            portraitWidth + labelWidth + 4*vspacerWidth
        )
    );
}

$(document).ready (fnGalleryWrapperOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Label
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryLabelOnInit = function () {
    $('div.gallery .label').each(function (idx, gl) {
        var labelHeight = parseInt ($(gl).css('height'));
        var ulHeight = parseInt ($(gl).children ('ul').css ('height'));
        $(gl).children ('ul').css ('top', (labelHeight - ulHeight) / 2.0);
    });
};

$(document).ready(fnGalleryLabelOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Arrow
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryArrowOnInit = function () {
    $('div.gallery .arrow.lhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_left.png")'
    );

    $('div.gallery .arrow.rhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_right.png")'
    );
};

$(document).ready (fnGalleryArrowOnInit);
</script>

<script type="text/javascript">
var fnGalleryArrowOnHover = function () {
    $('div.gallery .arrow').hover(function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');

        if (event.type != 'mouseenter') {
            $(event.target).css ('background-color','transparent');
            $(event.target).css ('opacity','0.0625');
        } else {
            if (imgs[0].offsetWidth > area[0].offsetWidth) {
                $(event.target).css ('background-color','highlight');
                $(event.target).css ('opacity','1.0000');
            } else {
                var left = parseInt (imgs.css ('left'));
                if ((left < 0.0) || (left > parseInt (area.css('width')) -
                    parseInt (imgs.css ('width')))) {
                    $(event.target).css ('background-color','highlight');
                    $(event.target).css ('opacity','1.0000');
                } else {
                    $(event.target).css ('background-color','transparent');
                    $(event.target).css ('opacity','0.0625');
                    $(event.target).css ('cursor','default');
                }
            }
        }
    });

    $('div.gallery .arrow').css('opacity','0.0625');
};

$(document).ready (fnGalleryArrowOnHover);
</script>

<script type="text/javascript">
var fnGalleryArrowOnClick = function () {
    $('div.gallery .arrow.rhs').unbind ('click');
    $('div.gallery .arrow.rhs').click (function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left > parseInt (area.css('width')) -
                parseInt (imgs.css ('width'))) {
                imgs.css ('left', left - img[0].offsetWidth);
            } else {
                return false;
            }
        } else {
            return false;
        }
    });

    $('div.gallery .arrow.lhs').unbind ('click');
    $('div.gallery .arrow.lhs').click (function (event) {
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left < 0.0) {
                imgs.css ('left', left + img[0].offsetWidth);
            } else {
                return false;
            }
        } else {
            return false;
        }
    });
};

$(document).ready (fnGalleryArrowOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Image Info
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryImageInfoOnInit = function () {
    $('div.gallery .img .info').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/information.png")'
    );

    $('div.gallery .img .info').css('opacity','0.0625');
};

$(document).ready (fnGalleryImageInfoOnInit);
</script>

<script type="text/javascript">
var fnGalleryImageInfoOnHover = function () {
    $('div.gallery .img .info').hover(function (event) {
        if (event.type != 'mouseenter') {
            $(event.target).css ('opacity','0.0625');
        } else {
            $(event.target).css ('opacity','1.0000');
        }
    });
};

$(document).ready (fnGalleryImageInfoOnHover);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Image Rating
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryImageRatingOnInit = function () {

    $('div.gallery .img .rating.st').attr ('name', 'rating.st')
    $('div.gallery .img .rating.st').attr ('rate', '0.0')
    $('div.gallery .img .rating.st').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/star_grey.png")'
    );

    $('div.gallery .img .rating.nd').attr ('name', 'rating.nd')
    $('div.gallery .img .rating.nd').attr ('rate', '0.0')
    $('div.gallery .img .rating.nd').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/star_grey.png")'
    );
    
    $('div.gallery .img .rating.rd').attr ('name', 'rating.rd')
    $('div.gallery .img .rating.rd').attr ('rate', '0.0')
    $('div.gallery .img .rating.rd').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/star_grey.png")'
    );

    $('div.gallery .img .rating').css ('opacity','0.0625');
};

$(document).ready (fnGalleryImageRatingOnInit);
</script>

<script type="text/javascript">
var fnGalleryImageRatingOnHover = function () {
    $('div.gallery .img .rating').hover (function (event) {
        var st = $(event.target).parent ('.img').find ('.st')
        var nd = $(event.target).parent ('.img').find ('.nd')
        var rd = $(event.target).parent ('.img').find ('.rd')

        if (event.type != 'mouseenter') {
            $(st).css ('opacity','0.0625');
            $(nd).css ('opacity','0.0625');
            $(rd).css ('opacity','0.0625');
        } else {
            $(st).css ('opacity','1.0000');
            $(nd).css ('opacity','1.0000');
            $(rd).css ('opacity','1.0000');
        }
    });
};

$(document).ready (fnGalleryImageRatingOnHover);
</script>

<script type="text/javascript">
var fnGalleryImageRatingOnClick = function () {
    $('div.gallery .img .rating').click (function (event) {
        var st = $(event.target).parent ('.img').find ('.st')
        var nd = $(event.target).parent ('.img').find ('.nd')
        var rd = $(event.target).parent ('.img').find ('.rd')

        if ($(event.target).attr ('name') == 'rating.st') {
            if ($(event.target).attr ('rate') == '1.0') {
                st.attr ('rate','0.5'); nd.attr ('rate','0.5'); rd.attr ('rate','0.5');
            } else if ($(event.target).attr ('rate') == '0.5') {
                st.attr ('rate','0.0'); nd.attr ('rate','0.0'); rd.attr ('rate','0.0');
            } else {
                st.attr ('rate','1.0'); nd.attr ('rate','1.0'); rd.attr ('rate','1.0');
            }
        } else if ($(event.target).attr ('name') == 'rating.nd') {
            if ($(event.target).attr ('rate') == '2.0') {
                st.attr ('rate','1.5'); nd.attr ('rate','1.5'); rd.attr ('rate','1.5');
            } else if ($(event.target).attr ('rate') == '1.5') {
                st.attr ('rate','1.0'); nd.attr ('rate','1.0'); rd.attr ('rate','1.0');
            } else {
                st.attr ('rate','2.0'); nd.attr ('rate','2.0'); rd.attr ('rate','2.0');
            }
        } else if ($(event.target).attr ('name') == 'rating.rd') {
            if ($(event.target).attr ('rate') == '3.0') {
                st.attr ('rate','2.5'); nd.attr ('rate','2.5'); rd.attr ('rate','2.5');
            } else if ($(event.target).attr ('rate') == '2.5') {
                st.attr ('rate','2.0'); nd.attr ('rate','2.0'); rd.attr ('rate','2.0');
            } else {
                st.attr ('rate','3.0'); nd.attr ('rate','3.0'); rd.attr ('rate','3.0');
            }
        }

        if ($(event.target).attr ('rate') == '0.0') {
            
            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

        } else if ($(event.target).attr ('rate') == '0.5') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

        } else if ($(event.target).attr ('rate') == '1.0') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

        } else if ($(event.target).attr ('rate') == '1.5') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

        } else if ($(event.target).attr ('rate') == '2.0') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

        } else if ($(event.target).attr ('rate') == '2.5') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')

        } else if ($(event.target).attr ('rate') == '3.0') {

            st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
            rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')

        }
    });
};

$(document).ready (fnGalleryImageRatingOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Resize
--------------------------------------------------------------------------- -->

<script type="text/javascript">
$(window).resize (function () {
    fnGalleryAreaOnInit ();
    fnGalleryWrapperOnInit ();
    fnGalleryArrowOnClick ();
});</script>
{% endblock %}

<!-- --------------------------------------------------------------------------
 Menu:
--------------------------------------------------------------------------- -->

{% block menu-ext %}<td class="menu-tbl-item icons">
    <img alt="Show All" 
         src="{{ MEDIA_URL }}ico/silk/layout.png"
         title="Show All"
         id="icon-layout" />
</td>{% endblock %}

<!-- --------------------------------------------------------------------------
 Content:
--------------------------------------------------------------------------- -->

{% block content %}<div id="content">    
    <div class="gallery">
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="portrait">
            <div class="frame"></div>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="label blue">
            <ul>
                <li>H</li>
                <li>a</li>
                <li>n</li>
                <li>&nbsp;</li>
                <li>S</li>
                <li>o</li>
                <li>l</li>
                <li>o</li>
            </ul>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>

        <div class="wrapper">
            <div class="area">
                <div class="arrow lhs"></div>
                <div class="arrow rhs"></div>
                <ul class="imgs">
                    <li>
                        <div class="img">
                            <div class="content">&alpha;</div>
                            <div class="footer blue"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&beta;</div>
                            <div class="footer blue"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&gamma;</div>
                            <div class="footer blue"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&delta;</div>
                            <div class="footer blue"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&epsilon;</div>
                            <div class="footer blue"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery-v-spacer last">&nbsp;</div>
    </div>

    <div class="gallery-h-spacer">
        &nbsp;
    </div>
    
    <div class="gallery">
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="portrait">
            <div class="frame"></div>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="label red">
            <ul>
                <li>D</li>
                <li>a</li>
                <li>r</li>
                <li>t</li>
                <li>h</li>
                <li>&nbsp;</li>
                <li>V</li>
                <li>a</li>
                <li>d</li>
                <li>e</li>
                <li>r</li>
            </ul>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>

        <div class="wrapper">
            <div class="area">
                <div class="arrow lhs"></div>
                <div class="arrow rhs"></div>
                <ul class="imgs">
                    <li>
                        <div class="img">
                            <div class="content">&alpha;</div>
                            <div class="footer red"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&beta;</div>
                            <div class="footer red"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&gamma;</div>
                            <div class="footer red"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&delta;</div>
                            <div class="footer red"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&epsilon;</div>
                            <div class="footer red"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery-v-spacer last">&nbsp;</div>
    </div>

    <div class="gallery-h-spacer">
        &nbsp;
    </div>

    <div class="gallery">
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="portrait">
            <div class="frame"></div>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="label green">
            <ul>
                <li>S</li>
                <li>w</li>
                <li>o</li>
                <li>o</li>
                <li>p</li>
                <li>&nbsp;</li>
                <li>R</li>
                <li>i</li>
                <li>d</li>
                <li>e</li>
                <li>r</li>
                <li>s</li>
            </ul>
        </div>
        <div class="gallery-v-spacer">&nbsp;</div>

        <div class="wrapper">
            <div class="area">
                <div class="arrow lhs"></div>
                <div class="arrow rhs"></div>
                <ul class="imgs">
                    <li>
                        <div class="img">
                            <div class="content">&alpha;</div>
                            <div class="footer green"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&beta;</div>
                            <div class="footer green"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&gamma;</div>
                            <div class="footer green"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&delta;</div>
                            <div class="footer green"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <div class="content">&epsilon;</div>
                            <div class="footer green"></div>
                            <div class="info"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery-v-spacer last">&nbsp;</div>
    </div>

    <div class="gallery-h-spacer last">
        &nbsp;
    </div>

    <div id="gallery-img-rating-cache">
       <img width="1" height="1" alt="Grey" src='{{ MEDIA_URL }}ico/silk/star_grey.png' />
       <img width="1" height="1" alt="Half" src='{{ MEDIA_URL }}ico/silk/star_half_grey.png' />
       <img width="1" height="1" alt="Star" src='{{ MEDIA_URL }}ico/silk/star.png' />
    </div>

</div>{% endblock %}
