{% extends "base.html" %}

{% block javascript-ext %}
<!-- --------------------------------------------------------------------------
 Gallery: Icon Layout
--------------------------------------------------------------------------- -->

<script type="text/javascript">
fnGalleryIconLayoutOnInit = function () {
    var fnClr = function (el) {
        el.css ('border-top', '0px solid white');
        el.css ('border-bottom', '0px solid white');
    }

    var fnSet = function (el) {
        el.css ('border-top', '1px solid white');
        el.css ('border-bottom', '1px solid white');
    }

    $.post ('{% url home:ajax.query-layout %}', function (data) {
        if (data.overflow == 'hidden') {
            $('div.gallery .area').css ('overflow', 'hidden')
            fnSet ($('div.gallery .wrapper'));
            fnClr ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','inline')
            $('div.gallery .arrow').css ('display','inline')
        } else {
            $('div.gallery .area').css ('overflow', 'visible')
            fnClr ($('div.gallery .wrapper'));
            fnSet ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','none')
            $('div.gallery .arrow').css ('display','none')
            $('div.gallery .imgs').css ('left','0px')
        }
    });
};

$(document).ready (fnGalleryIconLayoutOnInit);
</script>

<script type="text/javascript">
fnGalleryIconLayoutOnClick = function () {
    var fnClr = function (el) {
        el.css ('border-top', '0px solid white');
        el.css ('border-bottom', '0px solid white');
    }

    var fnSet = function (el) {
        el.css ('border-top', '1px solid white');
        el.css ('border-bottom', '1px solid white');
    }

    $('#icon-layout').click(function (event) {
        var galleryArea = $('div.gallery .area');
        if (galleryArea.css ('overflow') != 'hidden') {
            galleryArea.css ('overflow', 'hidden')
            fnSet ($('div.gallery .wrapper'));
            fnClr ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','inline')
            $('div.gallery .arrow').css ('display','inline')
        } else {
            galleryArea.css ('overflow', 'visible')
            fnClr ($('div.gallery .wrapper'));
            fnSet ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','none')
            $('div.gallery .arrow').css ('display','none')
            $('div.gallery .imgs').css ('left','0px')
        }

        $.post ('{% url home:ajax.toggle-layout %}', {
            'overflow': galleryArea.css ('overflow')
        });
    });
};

$(document).ready (fnGalleryIconLayoutOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Icon Vehicle
--------------------------------------------------------------------------- -->

<script type="text/javascript">
fnGalleryIconVehicleOnClick = function () {
    $('#icon-vehicle').click(function (event) {
        $.post ('{% url home:ajax.show-vehicle %}', function (data) {
            location.reload ();
        });
    });
};

$(document).ready (fnGalleryIconVehicleOnClick);
</script>

 <!-- --------------------------------------------------------------------------
 Gallery: Icon Figure
--------------------------------------------------------------------------- -->

<script type="text/javascript">
fnGalleryIconFigureOnClick = function () {
    $('#icon-figure').click(function (event) {
        $.post ('{% url home:ajax.show-figure %}', function (data) {
            location.reload ();
        });
    });
};

$(document).ready (fnGalleryIconFigureOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Area
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryAreaOnInit = function() {
    $('div.gallery .area .imgs').each (function (idx, gai) {
        var img = $(gai).find ('.img')
        if (img.size () > 0) {
            $(gai).css ('width', img[0].offsetWidth * img.size ());
        } else {
            ;
        }
    });
}

$(document).ready(fnGalleryAreaOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Wrapper
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryWrapperOnInit = function() {
    var galleryWidth = parseInt($('div.gallery').css('width'));
    var portraitWidth = parseInt($('div.gallery .portrait').css('width'));
    var labelWidth = parseInt($('div.gallery .label').css('width'));
    var vspacerWidth = parseInt($('div.gallery-v-spacer').css('width'));

    $('div.gallery .wrapper').css (
        'width', galleryWidth - (
            portraitWidth + labelWidth + 4*vspacerWidth
        )
    );
}

$(document).ready (fnGalleryWrapperOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Label
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryLabelOnInit = function () {
    $('div.gallery .label').each(function (idx, gl) {
        var labelHeight = parseInt ($(gl).css('height'));
        var ulHeight = parseInt ($(gl).children ('ul').css ('height'));
        $(gl).children ('ul').css ('top', (labelHeight - ulHeight) / 2.0);
    });
};

$(document).ready(fnGalleryLabelOnInit);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Arrow
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryArrowOnInit = function () {
    $('div.gallery .arrow.lhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_left.png")'
    );

    $('div.gallery .arrow.rhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_right.png")'
    );
};

$(document).ready (fnGalleryArrowOnInit);
</script>

<script type="text/javascript">
var fnGalleryArrowOnHover = function () {
    $('div.gallery .arrow').hover(function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');

        if (event.type != 'mouseenter') {
            $(event.target).css ('background-color','transparent');
            $(event.target).css ('opacity','0.0625');
        } else {
            if (imgs[0].offsetWidth > area[0].offsetWidth) {
                $(event.target).css ('background-color','highlight');
                $(event.target).css ('opacity','1.0000');
            } else {
                var left = parseInt (imgs.css ('left'));
                if ((left < 0.0) || (left > parseInt (area.css('width')) -
                    parseInt (imgs.css ('width')))) {
                    $(event.target).css ('background-color','highlight');
                    $(event.target).css ('opacity','1.0000');
                } else {
                    $(event.target).css ('background-color','transparent');
                    $(event.target).css ('opacity','0.0625');
                    $(event.target).css ('cursor','default');
                }
            }
        }
    });

    $('div.gallery .arrow').css('opacity','0.0625');
};

$(document).ready (fnGalleryArrowOnHover);
</script>

<script type="text/javascript">
var fnGalleryArrowOnClick = function () {
    $('div.gallery .arrow.rhs').unbind ('click');
    $('div.gallery .arrow.rhs').click (function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left > parseInt (area.css('width')) -
                parseInt (imgs.css ('width'))) {
                imgs.css ('left', left - img[0].offsetWidth);
            } else {
                return false;
            }
        } else {
            return false;
        }
    });

    $('div.gallery .arrow.lhs').unbind ('click');
    $('div.gallery .arrow.lhs').click (function (event) {
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left < 0.0) {
                imgs.css ('left', left + img[0].offsetWidth);
            } else {
                return false;
            }
        } else {
            return false;
        }
    });
};

$(document).ready (fnGalleryArrowOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Image Info
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryImageInfoOnInit = function () {
    $('div.gallery .img .info').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/information.png")'
    );

    $('div.gallery .img .info').css('opacity','0.0625');
};

$(document).ready (fnGalleryImageInfoOnInit);
</script>

<script type="text/javascript">
var fnGalleryImageInfoOnHover = function () {
    $('div.gallery .img .info').hover(function (event) {
        if (event.type != 'mouseenter') {
            $(event.target).css ('opacity','0.0625');
        } else {
            $(event.target).css ('opacity','1.0000');
        }
    });
};

$(document).ready (fnGalleryImageInfoOnHover);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Image Rating
--------------------------------------------------------------------------- -->

<script type="text/javascript">
var fnGalleryImageRatingSetBackgroundImage = function (target) {
    var st = $(target).parent ('.img').find ('.st')
    var nd = $(target).parent ('.img').find ('.nd')
    var rd = $(target).parent ('.img').find ('.rd')

    if ($(target).attr ('rate') == 0.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 0.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 1.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 1.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 2.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 2.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')

    } else if ($(target).attr ('rate') == 3.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')

    }
};</script>

<script type="text/javascript">
var fnGalleryImageRatingOnInit = function () {

    $('div.gallery div.img .rating.st').attr ('name', 'rating.st')
    $('div.gallery div.img .rating.nd').attr ('name', 'rating.nd')
    $('div.gallery div.img .rating.rd').attr ('name', 'rating.rd')

    $('div.gallery div.img .rating').css ('opacity','0.3725')
};

$(document).ready (fnGalleryImageRatingOnInit);
</script>

<script type="text/javascript">
var fnGalleryImageRatingOnInitRate = function (gid, iid, rate) {

    var st = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.st'.format (gid, iid))
    var nd = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.nd'.format (gid, iid))
    var rd = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.rd'.format (gid, iid))

    st.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (st)
    nd.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (nd)
    rd.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (rd)
};</script>

{% for gallery in galleries %}{% for image in gallery.images %}
<script type="text/javascript">$(document).ready (function () {
    fnGalleryImageRatingOnInitRate ('{{ gallery.id }}', '{{ image.id }}', '{{ image.avg_rate }}');
});</script>{% endfor %}{% endfor %}

<script type="text/javascript">
var fnGalleryImageRatingOnHover = function () {
    $('div.gallery .img .rating').hover (function (event) {
        var st = $(event.target).parent ('.img').find ('.st')
        var nd = $(event.target).parent ('.img').find ('.nd')
        var rd = $(event.target).parent ('.img').find ('.rd')

        if (event.type != 'mouseenter') {
            $(st).css ('opacity','0.3725');
            $(nd).css ('opacity','0.3725');
            $(rd).css ('opacity','0.3725');
        } else {
            $(st).css ('opacity','1.0000');
            $(nd).css ('opacity','1.0000');
            $(rd).css ('opacity','1.0000');
        }
    });
};

$(document).ready (fnGalleryImageRatingOnHover);
</script>

<script type="text/javascript">
var fnGalleryImageRatingOnTimer = function (target) {
    $.post ('{% url home:ajax.update-rate %}', {
        'rate': $(target).parent ('.img').find ('.st').attr ('rate'),
        'id': $(target).parent ('.img').attr ('id').replace ('img-id','')
    });
};

var fnGalleryImageRatingOnClick = function () {
    $('div.gallery .img .rating').click (function (event) {
        var st = $(event.target).parent ('.img').find ('.st')
        var nd = $(event.target).parent ('.img').find ('.nd')
        var rd = $(event.target).parent ('.img').find ('.rd')

        if ($(event.target).attr ('name') == 'rating.st') {
            if ($(event.target).attr ('rate') == 1.0) {
                st.attr ('rate',0.0); nd.attr ('rate',0.0); rd.attr ('rate',0.0)
            } else if ($(event.target).attr ('rate') == 0.5) {
                st.attr ('rate',1.0); nd.attr ('rate',1.0); rd.attr ('rate',1.0)
            } else if ($(event.target).attr ('rate') == 0.0) {
                st.attr ('rate',0.5); nd.attr ('rate',0.5); rd.attr ('rate',0.5)
            } else {
                st.attr ('rate',1.0); nd.attr ('rate',1.0); rd.attr ('rate',1.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.nd') {
            if ($(event.target).attr ('rate') == 2.0) {
                st.attr ('rate',1.0); nd.attr ('rate',1.0); rd.attr ('rate',1.0)
            } else if ($(event.target).attr ('rate') == 1.5) {
                st.attr ('rate',2.0); nd.attr ('rate',2.0); rd.attr ('rate',2.0)
            } else if ($(event.target).attr ('rate') == 1.0) {
                st.attr ('rate',1.5); nd.attr ('rate',1.5); rd.attr ('rate',1.5)
            } else {
                st.attr ('rate',2.0); nd.attr ('rate',2.0); rd.attr ('rate',2.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.rd') {
            if ($(event.target).attr ('rate') == 3.0) {
                st.attr ('rate',2.0); nd.attr ('rate',2.0); rd.attr ('rate',2.0)
            } else if ($(event.target).attr ('rate') == 2.5) {
                st.attr ('rate',3.0); nd.attr ('rate',3.0); rd.attr ('rate',3.0)
            } else if ($(event.target).attr ('rate') == 2.0) {
                st.attr ('rate',2.5); nd.attr ('rate',2.5); rd.attr ('rate',2.5)
            } else {
                st.attr ('rate',3.0); nd.attr ('rate',3.0); rd.attr ('rate',3.0)
            }
        }

        fnGalleryImageRatingSetBackgroundImage (event.target)
        fnGalleryImageRatingOnTimer (event.target)
    });
};

$(document).ready (fnGalleryImageRatingOnClick);
</script>

<!-- --------------------------------------------------------------------------
 Gallery: Resize
--------------------------------------------------------------------------- -->

<script type="text/javascript">
$(window).resize (function () {
    fnGalleryAreaOnInit ();
    fnGalleryWrapperOnInit ();
    fnGalleryArrowOnClick ();
});</script>
{% endblock %}

<!-- --------------------------------------------------------------------------
 Menu:
--------------------------------------------------------------------------- -->

{% block menu-ext %}
<td class="menu-tbl-item icons">
</td>

<td class="menu-tbl-item icons">
<img alt="Show Vehicles"
     src="{{ MEDIA_URL }}ico/silk/car.png"
     title="Show Vehicles"
     id="icon-vehicle" />
</td>

<td class="menu-tbl-item icons">
<img alt="Show Figures"
     src="{{ MEDIA_URL }}ico/silk/user_suit.png"
     title="Show Figures"
     id="icon-figure" />
</td>

<td class="menu-tbl-item icons">
<img alt="Toggle Layout"
     src="{{ MEDIA_URL }}ico/silk/layout.png"
     title="Toggle Layout"
     id="icon-layout" />
</td>
{% endblock %}

<!-- --------------------------------------------------------------------------
 Sub-Top Bar:
--------------------------------------------------------------------------- -->

{% block sub-top-bar %}<div id="sub-top-bar">
    <table id="sub-top-bar-tbl">
        <tbody>
            <tr>
                {% block sub-top-bar-center %}<td id="sub-top-bar-tbl-center">
                    {% block sub-menu %}<div id="sub-menu">
                    <table id="sub-menu-tbl">
                        <tbody>
                            <tr align="center">
                            {% for cc in collections %}{% ifequal collection cc %}
                            <td class="sub-menu-tbl-item active">
                                <a href="{% url home:view.galleries_by_collection cc.id %}">{{ cc }}</a>
                            </td>{% else %}
                            <td class="sub-menu-tbl-item">
                                <a href="{% url home:view.galleries_by_collection cc.id %}">{{ cc }}</a>
                            </td>{% endifequal %}{% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>{% endblock %}
                </td>{% endblock %}
            </tr>
        </tbody>
    </table>
</div>{% endblock %}

<!-- --------------------------------------------------------------------------
 Content:
--------------------------------------------------------------------------- -->

{% block content %}<div id="content">
    {% for gallery in galleries %}
    <div id="gallery-id{{ gallery.id }}" class="gallery">
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="portrait">
            <div class="frame">
                <img alt="{{ gallery.name }}" src="{{ gallery.url }}"/>
            </div>
        </div>

        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="label {{ gallery.color }}"> <!-- red, green -->
            <ul>
                {% for char in gallery.name %}
                {% ifequal char " " %}
                <li>&nbsp;</li>
                {% else %}
                <li>{{ char }}</li>
                {% endifequal %}
                {% endfor %}
            </ul>
        </div>

        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="wrapper">
            <div class="area">
                <div class="arrow lhs"></div>
                <div class="arrow rhs"></div>
                <ul class="imgs">
                    {% for image in gallery.images %}
                    <li>
                        <div id="img-id{{ image.id }}" title="{{ image.name }}" class="img">
                            <div class="content">
                                <img alt="{{ image.name }}" src="{{ image.url }}"/>
                            </div>
                            <div class="footer {{ gallery.color }}"></div>
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="info"></div>
                        </div>
                    </li>{% endfor %}
                </ul>
            </div>
        </div>

        <div class="gallery-v-spacer last">&nbsp;</div>
    </div>

    {% if forloop.last %}
    <div class="gallery-h-spacer last">
        &nbsp;
    </div>
    {% else %}
    <div class="gallery-h-spacer">
        &nbsp;
    </div>
    {% endif %}

    {% endfor %}
</div>{% endblock %}

<!-- --------------------------------------------------------------------------
 Image Cache:
--------------------------------------------------------------------------- -->

{% block image-cache %}<div id="image-cache">
   <img alt="Grey" src='{{ MEDIA_URL }}ico/silk/star_grey.png' />
   <img alt="Half" src='{{ MEDIA_URL }}ico/silk/star_half_grey.png' />
   <img alt="Star" src='{{ MEDIA_URL }}ico/silk/star.png' />
</div>{% endblock %}
