[submodule "media/ico/famfamfam-silk-icons.git"]
	path = media/ico/famfamfam-silk-icons.git
	url = https://github.com/markjames/famfamfam-silk-icons
[submodule "media/lib/jquery.git"]
	path = media/lib/jquery.git
	url = https://github.com/jquery/jquery
