{% extends "base.html" %}

<!-- --------------------------------------------------------------------------
+ JavaScript Ext:
--------------------------------------------------------------------------- -->

{% block javascript-ext %}
<script type="text/javascript">

/* -------------------------------------------------------------------------
 * Gallery: Icon Layout
 * ------------------------------------------------------------------------- */

fnGalleryIconLayoutOnInit = function () {
    var fnClr = function (el) {
        el.css ('border-top', '0px solid white');
        el.css ('border-bottom', '0px solid white');
    }

    var fnSet = function (el) {
        el.css ('border-top', '1px solid white');
        el.css ('border-bottom', '1px solid white');
    }

    $.post ('{% url exhib:ajax.query-layout %}', function (data) {
        if (data.overflow == 'hidden') {
            $('div.gallery .area').css ('overflow', 'hidden')
            fnSet ($('div.gallery .wrapper'));
            fnClr ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','inline')
            $('div.gallery .arrow').css ('display','inline')
            $('div.gallery .imgs').css ('left','0px')
        } else {
            $('div.gallery .area').css ('overflow', 'visible')
            fnSet ($('div.gallery .imgs'));
            fnClr ($('div.gallery .wrapper'));
            $('div.gallery-v-spacer.last').css ('display','none')
            $('div.gallery .arrow').css ('display','none')
            $('div.gallery .imgs').css ('left','0px')
        }
    });
}

$(document).ready (fnGalleryIconLayoutOnInit);

fnGalleryIconLayoutOnClick = function () {
    var fnClr = function (el) {
        el.css ('border-top', '0px solid white');
        el.css ('border-bottom', '0px solid white');
    }

    var fnSet = function (el) {
        el.css ('border-top', '1px solid white');
        el.css ('border-bottom', '1px solid white');
    }

    $('#icon-layout').click(function (event) {
        var galleryArea = $('div.gallery .area');
        if (galleryArea.css ('overflow') != 'hidden') {
            galleryArea.css ('overflow', 'hidden')
            fnSet ($('div.gallery .wrapper'));
            fnClr ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','inline')
            $('div.gallery .arrow').css ('display','inline')
        } else {
            galleryArea.css ('overflow', 'visible')
            fnClr ($('div.gallery .wrapper'));
            fnSet ($('div.gallery .imgs'));
            $('div.gallery-v-spacer.last').css ('display','none')
            $('div.gallery .arrow').css ('display','none')
            $('div.gallery .imgs').css ('left','0px')
        }

        $.post ('{% url exhib:ajax.toggle-layout %}', {
            'overflow': galleryArea.css ('overflow')
        });
    });
}

$(document).ready (fnGalleryIconLayoutOnClick);

/* -------------------------------------------------------------------------
 * Gallery: Area
 * ------------------------------------------------------------------------- */

var fnGalleryAreaOnInit = function() {
    $('div.gallery .area .imgs').each (function (idx, gai) {
        var img = $(gai).find ('.img')
        if (img.size () > 0) {
            $(gai).css ('width', img[0].offsetWidth * img.size ());
        }
    });
}

$(document).ready(fnGalleryAreaOnInit);

/* -------------------------------------------------------------------------
 * Gallery: Wrapper
 * ------------------------------------------------------------------------- */

var fnGalleryWrapperOnInit = function() {
    var galleryWidth = parseInt($('div.gallery').css('width'));
    var portraitWidth = parseInt($('div.gallery .portrait').css('width'));
    var labelWidth = parseInt($('div.gallery .label').css('width'));
    var vspacerWidth = parseInt($('div.gallery-v-spacer').css('width'));

    $('div.gallery .wrapper').css (
        'width', galleryWidth - (
            portraitWidth + labelWidth + 4*vspacerWidth
        )
    );
}

$(document).ready (fnGalleryWrapperOnInit);

/* -------------------------------------------------------------------------
 * Gallery: Label
 * ------------------------------------------------------------------------- */

var fnGalleryLabelOnInit = function () {
    $('div.gallery .label').each(function (idx, gl) {
        var labelHeight = parseInt ($(gl).css('height'));
        var ulHeight = parseInt ($(gl).children ('ul').css ('height'));
        $(gl).children ('ul').css ('top', (labelHeight - ulHeight) / 2.0);
    });
}

$(document).ready(fnGalleryLabelOnInit);

/* -------------------------------------------------------------------------
 * Gallery: Arrow
 * ------------------------------------------------------------------------- */

var fnGalleryArrowOnInit = function () {
    $('div.gallery .arrow.lhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_left.png")'
    );

    $('div.gallery .arrow.rhs').css('background-image',
        'url("{{ MEDIA_URL }}ico/silk/arrow_right.png")'
    );
}

$(document).ready (fnGalleryArrowOnInit);

var fnGalleryArrowOnHover = function () {
    $('div.gallery .arrow').hover(function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');

        if (event.type != 'mouseenter') {
            $(event.target).css ('background-color','transparent');
            $(event.target).css ('opacity','0.3725');
        } else {
            if (imgs[0].offsetWidth > area[0].offsetWidth) {
                $(event.target).css ('background-color','highlight');
                $(event.target).css ('opacity','1.0000');
            } else {
                var left = parseInt (imgs.css ('left'));
                if ((left < 0.0) || (left > parseInt (area.css('width')) -
                    parseInt (imgs.css ('width')))) {
                    $(event.target).css ('background-color','highlight');
                    $(event.target).css ('opacity','1.0000');
                } else {
                    $(event.target).css ('background-color','transparent');
                    $(event.target).css ('opacity','0.3725');
                    $(event.target).css ('cursor','default');
                }
            }
        }
    });

    $('div.gallery .arrow').css('opacity','0.3725');
}

$(document).ready (fnGalleryArrowOnHover);

var fnGalleryArrowOnClick = function () {
    $('div.gallery .arrow.rhs').unbind ('click');
    $('div.gallery .arrow.rhs').click (function (event) {
        var area = $(event.target).parent ('.area');
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left > parseInt (area.css('width')) -
                parseInt (imgs.css ('width'))) {
                imgs.css ('left', left - img[0].offsetWidth);
            }
        }
    });

    $('div.gallery .arrow.lhs').unbind ('click');
    $('div.gallery .arrow.lhs').click (function (event) {
        var imgs = $(event.target).find ('~.imgs');
        var img = imgs.find ('.img');
        if (img.size () > 0) {
            var left = parseInt (imgs.css ('left'));
            if (left < 0.0) {
                imgs.css ('left', left + img[0].offsetWidth);
            }
        }
    });
}

$(document).ready (fnGalleryArrowOnClick);

/* -------------------------------------------------------------------------
 * Gallery: Image Close
 * ------------------------------------------------------------------------- */

var fnGalleryImageCloseOnInit = function () {
    $('div.img .close').css ('background-image',
        'url("{{ MEDIA_URL }}ico/silk/bullet_cross.png")'
    );

    $('div.img .close').css ('opacity','0.3725');
}

var fnGalleryImageCloseOnHover = function () {
    $('div.img .close').hover(function (event) {
        if (event.type != 'mouseenter') {
            $(event.target).css ('opacity','0.3725');
        } else {
            $(event.target).css ('opacity','1.0000');
        }
    });
}

/* -------------------------------------------------------------------------
 * Gallery: Image Magnify
 * ------------------------------------------------------------------------- */

var fnGalleryImageMagnifyOnInit = function () {
    $('div.gallery .img .magnify').css ('background-image',
        'url("{{ MEDIA_URL }}ico/silk/image_magnify.png")'
    );

    $('div.gallery .img .magnify').css ('opacity','0.3725');
}

$(document).ready (fnGalleryImageMagnifyOnInit);

var fnGalleryImageMagnifyOnHover = function () {
    $('div.gallery .img .magnify').hover(function (event) {
        if (event.type != 'mouseenter') {
            $(event.target).css ('opacity','0.3725');
        } else {
            $(event.target).css ('opacity','1.0000');
        }
    });
}

$(document).ready (fnGalleryImageMagnifyOnHover);

var fnGalleryImageMagnifyOnClick = function (obj) {

    var imgRatio = 1.620;
    var fraction = 0.750;

    css = ($(window).height() >= $(window).width() * fraction/imgRatio)
        ? {
            left: $(window).width() * (1.000-fraction)*0.500 + 'px',
            top: (
                $(window).height() * 1.000 -
                $(window).width() * fraction/imgRatio
            ) * 0.500 + 'px',
            height: $(window).width() * fraction/imgRatio + 'px',
            width: $(window).width() * fraction + 'px'
        } : {
            top: $(window).height() * (1.000-fraction)*0.500 + 'px',
            left: (
                $(window).width() * 1.000 -
                $(window).height() * fraction*imgRatio
            ) * 0.500 + 'px',
            height: $(window).height() * fraction + 'px',
            width: $(window).height() * fraction*imgRatio + 'px'
        }

    css.cursor = 'pointer'
    css.border = '4px solid highlight'

    $.blockUI ({
        message: (
            '<div class="img x-large">' +
                '<img alt="{0} [magnified; H1.00:W1.62]" src="{1}"/>' +
                '<div class="close" style="top:-{0};"/>'.format(
                    css.height
                ) +
            '</div>'
        ).format (
            obj.alt, obj.src
        ), css: css
    });
    
    fnGalleryImageCloseOnInit ();
    fnGalleryImageCloseOnHover ();

    $('div.img.x-large').click ($.unblockUI);
    $('div.img .close').click ($.unblockUI);
    $('.blockOverlay').click ($.unblockUI);
}

/* -------------------------------------------------------------------------
 * Gallery: Image Info
 * ------------------------------------------------------------------------- */

var fnGalleryImageInfoOnInit = function () {
    $('div.gallery .img .info').css ('background-image',
        'url("{{ MEDIA_URL }}ico/silk/information.png")'
    );

    $('div.gallery .img .info').css ('opacity','0.3725');
}

$(document).ready (fnGalleryImageInfoOnInit);

var fnGalleryImageInfoOnHover = function () {
    $('div.gallery .img .info').hover(function (event) {
        if (event.type != 'mouseenter') {
            $(event.target).css ('opacity','0.3725');
        } else {
            $(event.target).css ('opacity','1.0000');
        }
    });
}

$(document).ready (fnGalleryImageInfoOnHover);

var fnGalleryImageInfoOnClick = function (obj) {

    var imgRatio = 1.620;
    var fraction = 0.750;

    css = ($(window).height() >= $(window).width() * fraction/imgRatio)
        ? {
            left: $(window).width() * (1.000-fraction)*0.500 + 'px',
            top: (
                $(window).height() * 1.000 -
                $(window).width() * fraction/imgRatio
            ) * 0.500 + 'px',
            height: $(window).width() * fraction/imgRatio + 'px',
            width: $(window).width() * fraction + 'px'
        } : {
            top: $(window).height() * (1.000-fraction)*0.500 + 'px',
            left: (
                $(window).width() * 1.000 -
                $(window).height() * fraction*imgRatio
            ) * 0.500 + 'px',
            height: $(window).height() * fraction + 'px',
            width: $(window).height() * fraction*imgRatio + 'px'
        }

    css.cursor = 'pointer'
    css.border = '4px solid highlight'

    $.blockUI ({
        message: (
            '<div class="img x-info">' +
                '<img alt="{0} [info; H1.00:W1.62]" src="{1}"/>' +
                '<div class="close" style="top:-{0};"/>'.format(
                    css.height
                ) +
            '</div>'
        ).format (
            obj.alt, obj.src
        ), css: css
    });

    fnGalleryImageCloseOnInit ();
    fnGalleryImageCloseOnHover ();

    $('div.img.x-info').click ($.unblockUI);
    $('div.img .close').click ($.unblockUI);
    $('.blockOverlay').click ($.unblockUI);
}

/* -------------------------------------------------------------------------
 * Gallery: Image Rating
 * ------------------------------------------------------------------------- */

var fnGalleryImageRatingSetBackgroundImage = function (target) {
    
    var st = $(target).parent ('.img').find ('.st')
    var nd = $(target).parent ('.img').find ('.nd')
    var rd = $(target).parent ('.img').find ('.rd')
    var qd = $(target).parent ('.img').find ('.qd')
    var qt = $(target).parent ('.img').find ('.qt')

    if ($(target).attr ('rate') == 0.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 0.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 1.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 1.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 2.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 2.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 3.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 3.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 4.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_grey.png")')

    } else if ($(target).attr ('rate') == 4.5) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star_half_grey.png")')

    } else if ($(target).attr ('rate') == 5.0) {

        st.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        nd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        rd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qd.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')
        qt.css ('background-image', 'url("{{ MEDIA_URL }}ico/silk/star.png")')

    }
}

var fnGalleryImageRatingOnInit = function () {

    $('div.gallery div.img .rating.st').attr ('name', 'rating.st')
    $('div.gallery div.img .rating.nd').attr ('name', 'rating.nd')
    $('div.gallery div.img .rating.rd').attr ('name', 'rating.rd')
    $('div.gallery div.img .rating.qd').attr ('name', 'rating.qd')
    $('div.gallery div.img .rating.qt').attr ('name', 'rating.qt')

    $('div.gallery div.img .rating').css ('opacity','0.3725')
}

$(document).ready (fnGalleryImageRatingOnInit);

var fnGalleryImageRatingOnInitRate = function (gid, iid, rate) {

    var st = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.st'.format (gid, iid))
    var nd = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.nd'.format (gid, iid))
    var rd = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.rd'.format (gid, iid))
    var qd = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.qd'.format (gid, iid))
    var qt = $('div#gallery-id{0}.gallery div#img-id{1}.img .rating.qt'.format (gid, iid))

    st.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (st)
    nd.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (nd)
    rd.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (rd)
    qd.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (qd)
    qt.attr ('rate', rate); fnGalleryImageRatingSetBackgroundImage (qt)
}

var fnGalleryImageRatingOnHover = function () {
    $('div.gallery .img .rating').hover (function (event) {
        var st = $(event.target).parent ('.img').find ('.st')
        var nd = $(event.target).parent ('.img').find ('.nd')
        var rd = $(event.target).parent ('.img').find ('.rd')
        var qd = $(event.target).parent ('.img').find ('.qd')
        var qt = $(event.target).parent ('.img').find ('.qt')

        if (event.type != 'mouseenter') {
            $(st).css ('opacity','0.3725')
            $(nd).css ('opacity','0.3725')
            $(rd).css ('opacity','0.3725')
            $(qd).css ('opacity','0.3725')
            $(qt).css ('opacity','0.3725')
        } else {
            $(st).css ('opacity','1.0000')
            $(nd).css ('opacity','1.0000')
            $(rd).css ('opacity','1.0000')
            $(qd).css ('opacity','1.0000')
            $(qt).css ('opacity','1.0000')
        }
    });
}

$(document).ready (fnGalleryImageRatingOnHover);

var fnGalleryImageRatingOnTimer = function (target) {
    $.post ('{% url exhib:ajax.update-rate %}', {
        'rate': $(target).parent ('.img').find ('.st').attr ('rate'),
        'id': $(target).parent ('.img').attr ('id').replace ('img-id','')
    })
}

var fnGalleryImageRatingOnClick = function () {
    $('div.gallery .img .rating').click (function (event) {
        
        var el = $(event.target).parent ('.img').find ('.rating')

        if ($(event.target).attr ('name') == 'rating.st') {
            if ($(event.target).attr ('rate') == 1.0) {
                el.attr ('rate',0.0)
            } else if ($(event.target).attr ('rate') == 0.5) {
                el.attr ('rate',1.0)
            } else if ($(event.target).attr ('rate') == 0.0) {
                el.attr ('rate',0.5)
            } else {
                el.attr ('rate',1.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.nd') {
            if ($(event.target).attr ('rate') == 2.0) {
                el.attr ('rate',1.0)
            } else if ($(event.target).attr ('rate') == 1.5) {
                el.attr ('rate',2.0)
            } else if ($(event.target).attr ('rate') == 1.0) {
                el.attr ('rate',1.5)
            } else {
                el.attr ('rate',2.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.rd') {
            if ($(event.target).attr ('rate') == 3.0) {
                el.attr ('rate',2.0)
            } else if ($(event.target).attr ('rate') == 2.5) {
                el.attr ('rate',3.0)
            } else if ($(event.target).attr ('rate') == 2.0) {
                el.attr ('rate',2.5)
            } else {
                el.attr ('rate',3.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.qd') {
            if ($(event.target).attr ('rate') == 4.0) {
                el.attr ('rate',3.0)
            } else if ($(event.target).attr ('rate') == 3.5) {
                el.attr ('rate',4.0)
            } else if ($(event.target).attr ('rate') == 3.0) {
                el.attr ('rate',3.5)
            } else {
                el.attr ('rate',4.0)
            }
        } else if ($(event.target).attr ('name') == 'rating.qt') {
            if ($(event.target).attr ('rate') == 5.0) {
                el.attr ('rate',4.0)
            } else if ($(event.target).attr ('rate') == 4.5) {
                el.attr ('rate',5.0)
            } else if ($(event.target).attr ('rate') == 4.0) {
                el.attr ('rate',4.5)
            } else {
                el.attr ('rate',5.0)
            }
        }

        fnGalleryImageRatingSetBackgroundImage (event.target)
        fnGalleryImageRatingOnTimer (event.target)
    });
}

$(document).ready (fnGalleryImageRatingOnClick);

/* -------------------------------------------------------------------------
 * Gallery: Resize
 * ------------------------------------------------------------------------- */

$(window).resize (function () {
    fnGalleryAreaOnInit ();
    fnGalleryWrapperOnInit ();
    fnGalleryArrowOnClick ();
});

</script>

<!-- --------------------------------------------------------------------------
+ Gallery: Image Rating
--------------------------------------------------------------------------- -->

{% for gallery in galleries %}{% for image in gallery.images %}
<script type="text/javascript">$(document).ready (function () {
    fnGalleryImageRatingOnInitRate ('{{ gallery.id }}', '{{ image.id }}', '{{ image.avg_rate }}');
});</script>{% endfor %}{% endfor %}

{% endblock javascript-ext %}

<!-- --------------------------------------------------------------------------
+ Menu:
--------------------------------------------------------------------------- -->

{% block menu-ext %}
<td class="menu-tbl-item spacer" onmouseover="$(this).css ('background', '#1f5967')">
</td>

<td class="menu-tbl-item icons">
<div id="icon-layout"><ul>
  <li ><img 
    alt="{{ properties.menu_layout }}"
    src="{{ MEDIA_URL }}ico/silk/layout.png"
    title="{{ properties.menu_layout }}"
  /></li>
  <li>{{ properties.menu_layout|safe }}</li>
</ul></div>
</td>
{% endblock %}

<!-- --------------------------------------------------------------------------
+ Sub-Top Bar:
--------------------------------------------------------------------------- -->

{% block sub-top-bar %}<div id="sub-top-bar">
    <table id="sub-top-bar-tbl">
        <tbody>
            <tr>
                {% block sub-top-bar-center %}<td id="sub-top-bar-tbl-center">
                    {% block sub-menu %}<div id="sub-menu">
                    <table id="sub-menu-tbl">
                        <tbody>
                            <tr align="center">
                            {% for cc in collections %}{% ifequal collection cc %}
                            <td class="sub-menu-tbl-item active">
                                <a href="{% url exhib:view.galleries-by-collection cc.id %}">{{ cc.nbsp|safe }}</a>
                            </td>{% else %}
                            <td class="sub-menu-tbl-item">
                                <a href="{% url exhib:view.galleries-by-collection cc.id %}">{{ cc.nbsp|safe }}</a>
                            </td>{% endifequal %}{% endfor %}

                            <td class="sub-menu-tbl-item spacer"
                                onmouseover="$(this).css ('background', '#948b54')">
                            </td>

                            {% ifequal type 'figure' %}
                            <td class="sub-menu-tbl-item rhs active">
                                <a href="{% url exhib:view.show-figures collection.id %}" id="gallery-type-figures">Figures</a>
                            </td>
                            {% else %}
                            <td class="sub-menu-tbl-item rhs">
                                <a href="{% url exhib:view.show-figures collection.id %}" id="gallery-type-figures">Figures</a>
                            </td>
                            {% endifequal %}
                            
                            {% ifequal type 'vehicle' %}
                            <td class="sub-menu-tbl-item rhs active">
                                <a href="{% url exhib:view.show-vehicles collection.id %}" id="gallery-type-vehicles">Vehicles</a>
                            </td>
                            {% else %}
                            <td class="sub-menu-tbl-item rhs">
                                <a href="{% url exhib:view.show-vehicles collection.id %}" id="gallery-type-vehicles">Vehicles</a>
                            </td>
                            {% endifequal %}

                        </tbody>
                    </table>
                </div>{% endblock %}
                </td>{% endblock %}
            </tr>
        </tbody>
    </table>
</div>{% endblock %}

<!-- --------------------------------------------------------------------------
+ Content:
--------------------------------------------------------------------------- -->

{% block content %}<div id="content">
    {% for gallery in galleries %}
    <div id="gallery-id{{ gallery.id }}" class="gallery">
        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="portrait">
            <div class="frame">
                <img alt="{{ gallery.name }} [H160:W130px]" src="{{ gallery.url }}"/>
            </div>
        </div>

        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="label {{ gallery.color }}"> <!-- red, green -->
            <ul>
                {% for char in gallery.name %}
                {% ifequal char " " %}
                <li>&nbsp;</li>
                {% else %}
                <li>{{ char }}</li>
                {% endifequal %}
                {% endfor %}
            </ul>
        </div>

        <div class="gallery-v-spacer">&nbsp;</div>
        <div class="wrapper">
            <div class="area">
                <div class="arrow lhs"></div>
                <div class="arrow rhs"></div>
                <ul class="imgs">
                    {% for image in gallery.images %}
                    <li>
                        <div id="img-id{{ image.id }}" title="{{ image.name }}" class="img">
                            <div class="content">
                                <img alt="{{ image.name }} [H153:W248px]" 
                                     src="{{ image.url }}"
                                     onclick="fnGalleryImageMagnifyOnClick ({
                                        alt:'{{ image.name }}',
                                        src:'{{ image.url_large }}'
                                     })"/>
                            </div>

                            <div class="footer {{ gallery.color }}"></div>
                            
                            <div class="rating st"></div>
                            <div class="rating nd"></div>
                            <div class="rating rd"></div>
                            <div class="rating qd"></div>
                            <div class="rating qt"></div>

                            <div class="magnify" 
                                 onclick="fnGalleryImageMagnifyOnClick ({
                                    alt:'{{ image.name }}',
                                    src:'{{ image.url_large }}'
                                 });">
                            </div>
                            
                            <div class="info" 
                                 onclick="fnGalleryImageInfoOnClick ({
                                    alt:'{{ image.name }}',
                                    src:'{{ image.url_info }}'
                                 });">
                            </div>
                        </div>
                    </li>{% endfor %}
                </ul>
            </div>
        </div>

        <div class="gallery-v-spacer last">&nbsp;</div>
    </div>

    {% if forloop.last %}
    <div class="gallery-h-spacer last">
        &nbsp;
    </div>
    {% else %}
    <div class="gallery-h-spacer">
        &nbsp;
    </div>
    {% endif %}

    {% endfor %}
</div>{% endblock %}

<!-- --------------------------------------------------------------------------
+ Image Cache:
--------------------------------------------------------------------------- -->

{% block image-cache %}<div id="image-cache">
   <img alt="Grey" src='{{ MEDIA_URL }}ico/silk/star_grey.png' />
   <img alt="Half" src='{{ MEDIA_URL }}ico/silk/star_half_grey.png' />
   <img alt="Star" src='{{ MEDIA_URL }}ico/silk/star.png' />
</div>{% endblock %}
