{% extends "base.html" %}

{% block content %}<div id="content">
    <table id="about-tbl">
        <tbody>
            <tr>
                <td id="about-tbl-lhs">
                    <img alt="{{ properties.about_desc }}"
                         src="{{ properties.about_href }}"/>
                </td>
                
                <td id="about-tbl-rhs">
                    {{ properties.about_text|safe }}
                </td>
            </tr>
        </tbody>
    </table>
</div>{% endblock %}
