{% extends "base.html" %}

{% block content %}<div id="content">
    <table id="comment-tbl">
        <tbody>
            <tr>
                <td id="comment-tbl-lhs">
                    <div id="threads-id"><ul class="threads">
                    {% for thread in threads %}
                    <li>{{ thread.name }}</li>
                    {% endfor %}
                    </ul></div>
                </td>

                <td id="comment-tbl-rhs">
                    <div id="comments-id"><ul class="comments">
                    {% for comment in comments %}
                    <li>{{ comment }}</li>
                    {% endfor %}
                    </ul></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>{% endblock %}
