{% extends "base.html" %}

{% block content %}<div id="content">
    <table id="contact-tbl">
        <tbody>
            <tr>
                <td id="contact-tbl-lhs">
                    <img alt="Send Email" 
                         src="{{ MEDIA_URL }}img/email-send.png"
                         style="width: 196px; height: 196px;"/>
                </td>

                <td id="contact-tbl-rhs">
                    <div class="contact">
                    <form method="post"
                          enctype="text/plain">
                    
                    <table class="table">

                        <tr>
                            <td align="center">
                            <b>&middot; Name &middot;</b>
                            </td>
                            <td class="input-cell">
                            <input class="input" type="text" name="name">
                            </td>
                        </tr>

                        <tr>
                            <td align="center">
                            <b>&middot; Email &middot;</b>
                            </td>
                            <td class="input-cell">
                            <input class="input" type="text" name="mail">
                            </td>
                        </tr>

                        <tr>
                            <td colspan=2>
                            <textarea class="textarea" 
                                      name="comment"
                                      rows="20"
                                      cols="64"></textarea>
                            </td>
                        </tr>

                        <tr align="right">
                            <td colspan=2>
                            <input type="submit" value="Send">
                            <input type="reset" value="Reset">
                            </td>
                        </tr>

                    </table>
                    </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>{% endblock %}
