{% extends "base.html" %}

{% block content %}<div id="content">
    <table id="contact-tbl">
        <tbody>
            <tr>
                <td id="contact-tbl-lhs">
                    <img alt="Send Email" 
                         src="{{ MEDIA_URL }}img/email-send.png"
                         style="width: 196px; height: 196px;"/>
                </td>

                <td id="contact-tbl-rhs">
                    <div class="contact">
                    <form action="{% url contact:default %}" method="post">{% csrf_token %}
                    
                    <table class="table">

                        <tr>
                            <td align="center">
                            <b>&middot; Name &middot;</b>
                            </td>
                            <td class="input-cell {% if form.sender.errors %}invalid{% endif %}">
                            {{ form.sender }}
                            </td>
                        </tr>

                        <tr>
                            <td align="center">
                            <b>&middot; Email &middot;</b>
                            </td>
                            
                            <td class="input-cell {% if form.email.errors %}invalid{% endif %}">
                            {{ form.email}}
                            </td>
                        </tr>

                        <tr>
                            <td class="input-area {% if form.message.errors %}invalid{% endif %}" colspan=2>
                            {{ form.message }}
                            </td>
                        </tr>

                        <tr align="right">
                            <td colspan=2>
                            <input type="submit" value="Send">
                            <input type="reset" value="Reset">
                            </td>
                        </tr>

                    </table>
                    </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>{% endblock %}
