/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

body {
    margin: 5px;
    padding: 5px;
    background: #0f243f;
    text-align: justify;
    font: 12px Arial, Helvetica, sans-serif;
    border: 1px solid white;
}

/* -------------------------------------------------------------------------
 * Title
 * ------------------------------------------------------------------------- */

#title h1 {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#title a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#title p {
    text-align: center;
    text-decoration: none;
    line-height: 50%;
    font-weight: bold;
    color: white;
}

#title-lhs {
    padding: 5px;
}

#title-rhs {
    padding: 5px;
}

/* -------------------------------------------------------------------------
 * Header
 * ------------------------------------------------------------------------- */

#header {
    padding: 5px;
    border: 1px solid white;
}

#header-tbl {
    width: 100%;
}

#header-tbl-lhs {
    width: 25%;
}

#header-tbl-mid {
    width: auto;
}

#header-tbl-rhs {
    width: 25%;
}

/* -------------------------------------------------------------------------
 * Top Bar
 * ------------------------------------------------------------------------- */

#top-bar {
    padding: 0px;
    background: #1f5967;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#top-bar-tbl {
    width: 100%;
}

#top-bar-tbl-lhs {
    width: 75%;
}

#top-bar-tbl-rhs {
    width: 25%;
    border-left: 1px solid white;
}

/* -------------------------------------------------------------------------
 * Menu
 * ------------------------------------------------------------------------- */

#menu {
}

#menu-tbl {
    width: auto;
    border: 0px dotted fuchsia;
}

#menu-tbl tbody tr td {
    padding: 5px;
    border: 1px dotted #1f5967;
}

#menu-tbl tbody tr td:hover {
    background: #0f243f;
    border: 1px dotted #1f5967;
}

#menu-tbl tbody tr td a {
    text-align: center;
    text-decoration: none;
    font-size: x-small;
    font-weight: normal;
    color: white;
}

/* -------------------------------------------------------------------------
 * Search Box
 * ------------------------------------------------------------------------- */

#searchbox {
    padding: 5px;
    border: 0px dotted fuchsia;
    margin: 0px;
    text-decoration: none;
    font-size: x-small;
    font-weight: normal;
}

#searchbox input {
    width: 100%;
}

#searchbox-submit {
    display: none;
}

/* -------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------- */

#content {
    padding: 4px;
    height: auto;
    border: 1px solid white;
    background: #0f243f;
}

#content h1 {
    padding: 0;
    margin: 0;
}

#content-tbl {
    height: auto;
    width: 100%;
    border: 1px dotted fuchsia;
}

#content-tbl-center {
    vertical-align: middle;
    border: 1px dotted aqua;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* -------------------------------------------------------------------------
 * Gallery
 * ------------------------------------------------------------------------- */

.gallery-tbl {
    height: 150px;
    width: 100%;
    border: 1px dotted fuchsia;
    margin-bottom: 4px;
}

.gallery-tbl-portrait {
    height: 100%;
    width: 100px;
    border: 1px dotted aqua;
}

.gallery-tbl-lhs, .gallery-tbl-rhs {
    height: 100%;
    width: 25px;
    border: 1px dotted aqua;
}

.gallery-tbl-center {
    height: 100%;
    width: auto;
    border: 1px dotted aqua;
}

.gallery-wrapper {
    height: 100%;
    width: 100%;
    border: 0px dashed fuchsia;
}

.gallery-area {
    height: 100%;
    width: 100%;
    border: 0px dotted aqua;
    position: relative;
    overflow: auto;
}

.gallery-imgs {
    height: 100%;
    width: 4096px;
    border-right: 5px;
    border: 0px dashed fuchsia;
    margin: 0px;
    padding: 0;
    position: absolute;
    list-style:none;
}

.gallery-imgs li {
    float:left;
    margin-right:4px;
    cursor:pointer
}

.gallery-img {
    height: 128px;
    width: 100px;
    border: 0px dotted aqua;
    background: #1f5967;
}

.gallery-img {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* -------------------------------------------------------------------------
 * Bottom Bar
 * ------------------------------------------------------------------------- */

#bottom-bar {
    padding: 10px;
    background: #1f5967;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/* -------------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------------- */

#footer {
    padding: 5px;
    border: 1px solid white;
}

#footer p {
    text-align: center;
    font-size: smaller;
    color: #FFFFFF;
}
