/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

body {
    margin: 5px;
    padding: 5px;
    background: #0f243f;
    text-align: justify;
    font: 12px Arial, Helvetica, sans-serif;
    border: 1px solid white;
}

/* -------------------------------------------------------------------------
 * Title
 * ------------------------------------------------------------------------- */

#title h1 {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#title a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#title p {
    text-align: center;
    text-decoration: none;
    line-height: 50%;
    font-weight: bold;
    color: white;
}

#title-lhs {
    padding: 5px;
}

#title-rhs {
    padding: 5px;
}

/* -------------------------------------------------------------------------
 * Header
 * ------------------------------------------------------------------------- */

#header {
    padding: 5px;
    border: 1px solid white;
}

#header-tbl {
    width: 100%;
}

#header-tbl-lhs {
    width: 25%;
}

#header-tbl-mid {
    width: auto;
}

#header-tbl-rhs {
    width: 25%;
}

/* -------------------------------------------------------------------------
 * Top Bar
 * ------------------------------------------------------------------------- */

#top-bar {
    padding: 10px;
    background: #1f5967;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* -------------------------------------------------------------------------
 * Menu
 * ------------------------------------------------------------------------- */

#menu {
}

/* -------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------- */

#content {
    padding: 5px;
    height: 640px;
    background: #0f243f;
    border: 1px solid white;
}

/* -------------------------------------------------------------------------
 * Bottom Bar
 * ------------------------------------------------------------------------- */

#bottom-bar {
    padding: 10px;
    background: #1f5967;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/* -------------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------------- */

#footer {
    padding: 5px;
    border: 1px solid white;
}

#footer p {
    text-align: center;
    font-size: smaller;
    color: #FFFFFF;
}
