<html>{% block html %}
<head>{% block head %}

    {% block site-title %}
    <title>Star Wars Micro Machines</title>
    {% endblock %}

    {% block css-base %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/style.css" />
    {% endblock %}

    {% block css-base-ext %}
    {% endblock %}

    {% block java-script %}
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery/jquery.min.js"></script>
    {% endblock %}

    {% block javascript-util %}
    <script type="text/javascript">
    String.prototype.format = function() {
        var txt = this, i = arguments.length; while (i--) {
            txt = txt.replace (
                new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]
            );
        }; return txt;
    };
    </script>
    {% endblock %}

    {% block javascript-ext %}
    {% endblock %}

{% endblock %}</head>
<body>{% block body %}

    <!-- ----------------------------------------------------------------------
    + Google Analytics:
    ----------------------------------------------------------------------- -->

    {% block google-analytics %}{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Header:
    ----------------------------------------------------------------------- -->

    {% block header %}<div id="header">
        <table id="header-tbl">
            <tbody>
                <tr>
                    <td id="header-tbl-lhs" align="center">
                        {% block header-title-lhs %}<div id="title-lhs">
                            <img alt="Micro Machines"src="{{ MEDIA_URL }}img/micro-machines.gif"/>
                        </div>{% endblock %}
                    </td>
                    <td id="header-tbl-mid">
                        {% block header-title %}<div id="title">
                        <h1><a href="#">Star&nbsp;Wars Micro&nbsp;Machines</a></h1>
                        <p>Complete Figure Collection</p>
                        </div>{% endblock %}
                    </td>
                    <td id="header-tbl-rhs" align="center">
                        {% block header-title-rhs %}<div id="title-rhs">
                            <img alt="Star Wars" src="{{ MEDIA_URL }}img/star-wars.gif"/>
                        </div>{% endblock %}
                    </td>
                </tr>
            </tbody>
        </table>	
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Top Bar:
    ----------------------------------------------------------------------- -->

    {% block super-top-bar %}
    {% endblock %}

    {% block top-bar %}<div id="top-bar">
        <table id="top-bar-tbl">
            <tbody>
                <tr>
                    {% block top-bar-lhs %}<td id="top-bar-tbl-lhs">
                        {% block menu %}<div id="menu">
                        <table id="menu-tbl">
                            <tbody>
                                <tr align="center">
                                    <td class="menu-tbl-item">
                                        <a href="{% url home:galleries_all %}">Home</a>
                                    </td>
                                    <td class="menu-tbl-item">
                                        <a href="{% url about:master %}">About</a>
                                    </td>
                                    <td class="menu-tbl-item">
                                        <a href="{% url comment:master %}">Comment</a>
                                    </td>
                                    <td class="menu-tbl-item">
                                        <a href="{% url contact:master %}">Contact</a>
                                    </td>
                                    
                                    {% block menu-ext %}
                                    {% endblock %}
                                </tr>
                            </tbody>
                        </table>
                    </div>{% endblock %}
                    </td>{% endblock %}

                    {% block top-bar-rhs %}<td id="top-bar-tbl-rhs">
                        <form name="cse" id="searchbox" action="http://www.google.com/cse">
                            <input type="hidden" name="cref" value="http://blackhan.ch/starwars/home" />
                            <input type="hidden" name="ie" value="utf-8" />
                            <input type="hidden" name="hl" value="" />
                            <input name="q" type="text" id="s"/>
                            <input type="submit" name="sa" id="searchbox-submit" value="Search"/>
                        </form>
                        <script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox&lang=en"></script>
                    </td>{% endblock %}
                </tr>
            </tbody>
        </table>
    </div>{% endblock %}

    {% block sub-top-bar %}
    {% endblock %}

    <!-- ----------------------------------------------------------------------
    + Content:
    ----------------------------------------------------------------------- -->

    {% block content %}<div id="content">
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Bottom Bar:
    ----------------------------------------------------------------------- -->

    {% block super-bottom-bar %}
    {% endblock %}

    {% block bottom-bar %}<div id="bottom-bar">
    </div>{% endblock %}

    {% block sub-bottom-bar %}
    {% endblock %}

    <!-- ----------------------------------------------------------------------
    + Footer:
    ----------------------------------------------------------------------- -->

    {% block footer %}<div id="footer">
        <p>&copy; 2010 &ndash; All Rights Reserved.</p>
    </div>{% endblock %}

    <!-- ----------------------------------------------------------------------
    + Image Cache:
    ----------------------------------------------------------------------- -->

    {% block image-cache %}<div id="image-cache">
    </div>{% endblock %}

{% endblock %}</body>
{% endblock %}</html>
